@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit, Ova;
}

/* Add these styles in your global CSS or in the component's scoped CSS */
.custom-hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
 
}

.custom-hover-effect:hover {
  transform: scale(1.05); /* Apply scale on hover */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
  background-color: rgb(205, 202, 202);
}
.custom-hover-effect-service:hover {
  transform: scale(1.05); /* Apply scale on hover */ 
  background-color: rgb(246, 244, 244);
}


